@import "../setting/_mixins";

.train-info {
  /* track_line 위에서 자유롭게 움직이기 위함*/
  position: absolute;

  /* icon을 균일하게 배치하기 위함 */
  width: 30px;

  cursor: pointer;

  &__icon {
    /* train_info_box를 왼쪽 또는 오른쪽에 배치하기 위함 */
    position: relative;
  }
}

/* 상하행에 따라 왼쪽 또는 오른쪽 배치해야 함 */
.destination-box {
  position: absolute;
  top: 0px;

  display: inline-block;
  font-size: 11px;

  padding: 3px 5px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid var(--line-gray-second);

  /* [상행] train_info_box 오른쪽에 속성 추가 */
  &--right {
    left: 28px;
  }

  /* [하행] train_info_box 왼쪽에 속성 추가 */
  &--left {
    right: 28px;
  }

  &__item {
    width: max-content; /* 컨텐츠에 맞게 너비 설정 */
    max-width: 60px; /* 최대 너비 제한 */
  }
}
