@import '../setting/_mixins';
@import '../setting/_vars';

.header {
  @include center-flex;
  flex-direction: row;
  height: 80px; /* 헤더 높이 */
  width: 360px;
  max-width: 100%;

  /* 처음 상태와 위로 스크롤 시 Header 보인다 */
  position: fixed;
  top: 0; /* 초기 위치 */
  z-index: 1000;
  background-color: rgba(245, 245, 245, 0.9);
  transition: top 0.2s ease-in-out;

  /* 아래로 스크롤 시 Header 숨긴다 */
  &--hidden {
    top: -81px;
  }

  &__title {
    font-size: 18px;
  }

  &__back-button {
    @include button-styles();

    /* 버튼을 header에서 가장 왼쪽에 배치하기 위함 */
    position: absolute;
    left: 20px;
  }
}
