@import "../setting/_mixins";

.line-detail {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 80px;

    position: relative; /* back-button을 가장 왼쪽에 배치하기 위함 */

    &__back-button {
      @include button-styles();

      /* 버튼을 header에서 가장 왼쪽에 배치하기 위함 */
      position: absolute;
      left: 0px;
    }

    &__title {
      font-size: 24px;
    }
  }
}
