.subwaylinedetail {
  .main_body_container {
    display: grid;
    width: 400px;
  }

  .station_container {
    position: relative;
    height: 60px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e4e4e4;

    /* station_name을 가운데에 놓기 위함 */
    display: flex;
    align-items: center;
  }

  .track_two_line_container {
    position: absolute;
    left: 80px;
    top: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  .track_line {
    width: 2px;
    height: 60px;
    background-color: #fcb726;

    /* track_station_circle을 가운데에 놓기 위함 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* train_info_container를 자유롭게 움직이기 위함 */
    position: relative;
  }

  .train_info_container {
    /* track_line 위에서 자유롭게 움직이기 위함*/
    position: absolute;
  }

  .train_icon_container {
    /* train_info_box를 왼쪽 또는 오른쪽에 배치하기 위함 */
    position: relative;
  }

  .train_info_box {
    /* train_icon_container 안에서 아이콘 오른쪽에 배치하기 위함 */
    position: absolute;
    top: -13px;
    /* 상하행에 따라 왼쪽 또는 오른쪽 배치해야 함 */

    /* train_info을 세로로 배치하기 위함 */
    display: inline-block;
    flex-direction: column;
    align-items: flex-start;
    font-size: 13px;

    padding: 3px 18px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #e4e4e4;
  }

  /* [상행] train_info_box 오른쪽에 속성 추가 */
  .train_info_box_right {
    left: 20px;
  }

  /* [하행] train_info_box 왼쪽에 속성 추가 */
  .train_info_box_left {
    right: 20px;
  }

  .train_info_text {
    white-space: nowrap;
  }

  .track_station_circle {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;

    /* 화살표 아이콘 정중앙에 배치하기 위함 */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .track_direction_icon {
    color: #cccccc;
  }

  .station_name {
    position: absolute;
    left: 200px;
  }
}
