.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  background-color: rgba(120, 120, 128, 0.12);
  padding: 10px 20px;
  color: #007aff;
  border-radius: 20px;
}

.link:hover {
  text-decoration: underline;
}
